<!DOCTYPE html>
<html>
  <head>
    <title>PythonToolbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
      <a class="navbar-brand" href="<%= root_path %>">Python-Toolbox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->
        </ul>

        <% if !current_page?(root_url) %>
          <%= search_form_for(@q, url: "/search", method: :get, class: "display-inline-block") do |f| %>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Search", style: "width: 400px; display: inline-block; color: black;" %>
            <%= f.submit "Search", class: "btn btn-default", style: "margin-bottom: 4px;" %>
          <% end %>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Logout", user_registration_path, method: :delete, class: "nav-link"%>
          </li>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link"%>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
          <% end %>
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <div class="container-fluid maxwidth-1200" style="margin-top: 15px;">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-primary mb-3">
            <!-- <div class="card-header">Header</div> -->
            <div class="card-body">
              <!-- <h4 class="card-title"></h4> -->
              <p class="card-text text-center">
                <b>Check out the public road map</b> => <u><a style="color: white; " href="https://trello.com/b/fdLlNnZK/python-toolbox-roadmap" target: "_blank">https://trello.com/b/fdLlNnZK/python-toolbox-roadmap</a></u>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <!-- footer goes here -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110434180-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110434180-1');
    </script>
  </body>
</html>
